body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #f5f6fa;
}

.center {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    text-align: center;
    width: 350px;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.logout {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.content {
    padding: 30px;
}

.box {
    padding: 25px;
    background: white;
    border-radius: 12px;
    margin-bottom: 25px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.hidden {
    display: none;
}
